<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<th:block th:fragment="createPageConf">
				<input type="hidden" name="id" th:value="*{id}" />
				<div class="row" style="margin-top:10px;">
			  	<div class="col-xs-6">
  					<div class="form-group">
							<label for="templateLayoutId" class="text-padrao">Layout*</label>
							<select class="form-control selectCustom" th:field="*{templateLayoutId}" id="templateLayoutId" title='--- Select ---'>
								<option value="" label="--- Select ---"></option>
								<option th:each="template : ${listTemplateLayout}" th:value="${template.id}" th:text="${template.name}"></option>
							</select>
							<div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('templateLayoutId')}" th:errors="*{templateLayoutId}"></div>
						</div>
					</div>
				  <div class="col-xs-6">
			  		<div class="form-group">
							<label for="type" class="text-padrao">Tipo*</label>
							<select class="form-control selectCustom" th:field="*{type}"  title='--- Select ---'>
								<option value="" label="--- Select ---"></option>
								<option th:each="type : ${listType}" th:value="${type}" th:text="${type}"></option>
							</select>
							<div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
						</div>
					</div>
				</div>
				<div class="row">
			  	<div class="col-xs-6">
						<div class="form-group">
							<label for="group" class="text-padrao">Grupo</label>
							<select class="form-control selectCustom" th:field="*{groupPage}" title='--- Vazio ---'>
								<option value="" label="--- Select ---"></option>
								<option th:each="group : ${listGroupPage}" th:value="${group.id}" th:text="${group.name}"></option>
							</select>
						</div>
			 	  </div>
				  <div class="col-xs-6">
			  		
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="text-padrao">Nome*</label>
					<input type="text" class="form-control" th:value="*{name}" th:field="*{name}" placeholder="Nome"/>
					<div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>
				<div class="form-group">
					<label for="description" class="text-padrao">Descrição</label>
					<input type="text" class="form-control" th:value="*{description}" th:field="*{description}" placeholder="Descrição"/>
					<div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
				</div>
				
				<div class="row" style="margin-top:10px;">
			  	<div class="col-xs-6">
  					<button  type="button" class="btn btn-primary"></button>
					</div>
				  <div class="col-xs-6">
			  		
					</div>
				</div>
					
	</th:block>
	</body>
</html>