<!DOCTYPE html>
<html>
<head th:replace="fragments/layout-jquery-ui:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout-jquery-ui:: menu" />
	<div class="container corpo-conteudo" role="main">
		<form method="post" th:object="${createpage}" th:action="@{/createpages/save}" role="form">
			<h1>Create Page</h1>
			<input type="hidden" name="id" th:value="*{id}"/>
				<div>
					<div  style="float: left;" class="text-padrao">
						<!-- Vervão:
						<select name="oi" class="selectCustom">
							<option>Atual - 2.0</option>
							<option>1.0</option>
						</select> -->
					</div>
					<div style="float: right;">
						<button type="button" class="btn btn-primary">Cancelar</button>
						<button type="button" class="btn btn-primary">Salvar</button>
						<button type="button" id="btPublicar" class="btn btn-warning">Publicar</button>
						<!-- <a href="javascript:void(0);" id="btconfig" class="btn btn-default link-createpage" style="width:40px !important;height:36px !important; padding: 0;padding-top: 0px;box-sizing: border-box; "><span class="entypo-cog" style="font-size:180%;"></span></a> -->
						<!-- <input type="hidden" name="publicar" id="publicar" th:value="*{publicar}" /> -->
					</div>
				</div>
				<div role="tabpanel">
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" id="confTab" class="" th:classappend="*{id} ? '' : active "><a href="#confContent" class="fontawesome-cog" aria-controls="confContent" role="tab" data-toggle="tab"> Configurações</a></li>
				    <li role="presentation"  id="documentTab" class=""  th:classappend="*{id} ? active : '' "><a href="#documentContent" class="fontawesome-edit" aria-controls="documentContent" role="tab" data-toggle="tab"> Edição Pagina</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane" th:classappend="*{id} ?  '' : active" id="confContent">
							<th:block th:replace="createpages/CreatePageConfig:: createPageConf " />
						</div>
				    <div role="tabpanel" class="tab-pane" th:classappend="*{id} ? active : '' " id="documentContent">
							<th:block th:replace="createpages/CreatePageDocument:: createPageContent " />
				    </div>
				  </div>
				</div>
		</form>

	</div>
	<!-- /.container -->

</body>
<th:block th:replace="fragments/layout-jquery-ui:: footer-javascript " />

<script th:inline="javascript">
/*<![CDATA[*/
$(".selectCustom").selectpicker();
$("#mudaAbaConfig").click(function(){
	$("#confTab").addClass("active");
	$("#documentTab").removeClass("active");
});
/* $("#templateLayoutId").on('change', function(){
	$("#montar-pagina").children().remove()
	$("#montar-pagina").text("");
	$("#montar-pagina").removeClass("pagina-edit");
	$.get("/createpages/layout/24"
	  ,function(data){
	  $("#montar-pagina").html( data);
	});
	$("head").append("<link>");
	css = $("head").children(":last");
	css.attr({
	  rel:  "stylesheet",
	  type: "text/css",
	  href: "http://viajeaqui3.abrilm.com.br/stylesheets/style_new_vt.css"
	});
	$.tmpl(componenteMaster).prependTo($("*[data-conteiner-sortable=\"true\"]"));

	var conteinerSortable = $("*[data-conteiner-sortable=\"true\"]").sortable({
	  itemSelector: "*[data-componente-move=\"true\"]",
	  placeholder:"<div style=\"margin:10px 20px; padding: 10px 20px; width:100%;border-style: dashed;border-color: #A9A9A9;\">Nova posição </div>",
	  handle: 'div .move',
	  onDragStart: function (item, group, _super) {
	    item.css("display","none");
	  },
		onDrop: function  (item, container, _super) {
	   item.css("display","block");
	  }
	});


	$("*[data-conteiner-sortable=\"true\"]").hover(function() {
	  $(this).children('.editor-conteiner').fadeIn( 300 );
	  $(this).css(  "background-color", "#f5f5f5")
	});
	$("*[data-conteiner-sortable=\"true\"]").mouseleave(function() {
	  $(this).children('.editor-conteiner').fadeOut( 300 );
	  $(this).css(  "background-color", "#fff")
	});

});
var componenteMaster = "<nav class=\"editor-conteiner\" style=\"display:none;\">";
componenteMaster += "<div class=\"lg\"> <a href=\"javascript:void(0)\" data-editor-conteiner-adicionar=\"true\" class=\"entypo-plus-circled\" data-toggle=\"modal\" data-target=\"#modalComponete\"> - Adicionar Componentes</a></div>";
componenteMaster += "</nav>";
*/
function iframeLoaded() {
    var iFrameID = document.getElementById('idIframe');
    if(iFrameID) {
          // here you can make the height, I delete it first, then I make it again
        iFrameID.height = "";
        iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
        iFrameID.width = "";
        iFrameID.width = iFrameID.contentWindow.document.body.scrollWidth + "px";
    }
}
$( document ).ready(function() {
	/* $( '#itens-page-sortable, #itens-page-sortable2').sortable({
		connectWith: '.iten-page-sortable-test'
    }).disableSelection();
	}); *//* 
	$( "[data-itens-page-sortable=\"true\"]" ).sortable();
	$( "[data-itens-page-sortable=\"true\"]" ).disableSelection(); */
	//$( "*[data-itens-page-sortable=\"true\"]" ).disableSelection();
	$("#modalIncludeJSCSS").modal('show');
});

$(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable",
      placeholder: "list-group-item ui-state-highlight",
      cancel: ".ui-teste"
    }).disableSelection();
  });
/* $("#sortable1").children().each(function( index ) {
	  console.log( $( this ).data());
	}); */
/*]]>*/
</script>
</html>
