<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<th:block th:fragment="createPageContent">
				<textarea class="form-control" th:value="*{documentDraft}" th:field="*{documentDraft}" placeholder="Insira o Template" rows="1" style="display:none;"/>
				<div class="alert alert-danger" role="alert"  th:if="${#fields.hasErrors('documentDraft')}" th:errors="*{documentDraft}"></div>
				<!-- <div class="pagina-edit" id="montar-pagina"> Escolha um layout para trabalhar em <a class="link-createpage" href="#confContent" aria-controls="confContent" role="tab" data-toggle="tab" id="mudaAbaConfig">configurações</a></div> -->
				<!-- <a href="http://local:8080/createpages/layout/3" onclick="iframeLoaded();" target="interno">TESTE</a>
				<iframe id="idIframe" name="interno" onload="iframeLoaded();" style="border:none;overflow:auto;margin-top:10px;"></iframe> -->	
	</th:block>
	</body>
</html>