<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>ReProcess</h1>
			<div class="panel panel-default">
			  <div class="panel-heading"><h3>Template:</h3></div>
			  <div class="panel-body">
				  <dl class="dl-horizontal">
					  <dt>Marca</dt>
					  <dd th:text="${template.product.name}">...</dd>
					</dl>
				  <dl class="dl-horizontal">
					  <dt>Nome</dt>
					  <dd th:text="${template.name}">...</dd>
					</dl>
				  <dl class="dl-horizontal">
					  <dt>Descrição</dt>
					  <dd th:text="${template.description}">...</dd>
					</dl>
				  <dl class="dl-horizontal">
					  <dt>Url Source</dt>
					  <dd th:text="${template.source.source}">...</dd>
					</dl>
			  </div>
			</div>
			<div class="starter-template">
				<form method="post" th:action="@{/templates/__${template.id}__/un}">
					<dl class="dl-horizontal">
					  <dt><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Processar</button></dt>
					  <dd>
						  <div class="well">
						  	<label for="slug">Slug</label>
								<input type="text" class="form-control" name="slug"/>
					    </div>
					  </dd>
					</dl>
				</form>
			</div>
			<div class="starter-template" th:if="${resultado!=null}">


					<p>Total de Registros: <b  th:text="${resultado.totalResultados}"></b></p>
					<p>Tempo da Consulta ao Editorial: <b  th:text="${tempoConsultaEditorial}"></b> milesegundos</p>
					<p>Tempo de Processamento paginas: <b  th:text="${tempoProcessamentoArquivos}"></b> milesegundos</p>
          <table class="table">
	        	<th>Slug</th>
	        	<th>Name</th>
	        	<tr th:each="conteudo : ${lista}" >
					<td th:text="${conteudo.slug}"></td>
					<td th:text="${conteudo.titulo}"></td>
	        	</tr>
        	</table>
      </div>
		</div>
	</div>
</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>