<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>Mamute - MVP</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Template</h1>
			
			
			<form method="post" th:object="${template}" th:action="@{/templates/save}" role="form">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" class="btn btn-warning"  disabled="disabled">Publicar</button>
				</div>
				<div role="tabpanel">
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" id="confTab" class="active"><a href="#conf" aria-controls="home" role="tab" data-toggle="tab">Configurações</a></li>
				    <li role="presentation"  id="documentTab"><a href="#document" aria-controls="document" role="tab" data-toggle="tab">Documento</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="conf">
							<th:block th:replace="templates/templateConfig:: templateConf " />
						</div>
				    <div role="tabpanel" class="tab-pane" id="document">
							<th:block th:replace="templates/templateDocument:: templateDocument " />
				    </div>
				  </div>
				</div>
			</form>
		</div>
	</div>
	<th:block th:if="${template_errors}">
 	 <div th:replace="fragments/modal :: modal (errors=${template_errors})">Modal</div>
  </th:block>
</body>
<th:block th:replace="fragments/layout:: footer-javascript " />

</html>
