<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Template</h1>
			<form method="post" th:object="${template}" th:action="@{/templates/save}" id="templateFrom" role="form">
			<div class="container">
				<div class="form-group pull-right ">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<button type="button" id="btPublicar" class="btn btn-warning">Publicar</button>
					<input type="hidden" name="publicar" id="publicar" th:value="*{publicar}" />
				</div>
			</div>
			<div class="container">
				<div role="tabpanel">
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" id="confTab" class="" th:classappend="*{id} ? '' : active "><a href="#confContent" class="fontawesome-cog" aria-controls="confContent" role="tab" data-toggle="tab"> Configurações</a></li>
				    <li role="presentation"  id="documentTab" class=""  th:classappend="*{id} ? active : '' "><a href="#documentContent" class="fontawesome-edit" aria-controls="documentContent" role="tab" data-toggle="tab"> Documento</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane" th:classappend="*{id} ?  '' : active" id="confContent">
							<th:block th:replace="templates/templateConfig:: templateConf " />
						</div>
				    <div role="tabpanel" class="tab-pane" th:classappend="*{id} ? active : '' " id="documentContent">
							<th:block th:replace="templates/templateDocument:: documentContent " />
				    </div>
				  </div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<th:block th:if="${template_errors}">
 	 <div th:replace="fragments/modal :: modal (errors=${template_errors})">Modal</div>
  </th:block>
</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
<script src="src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../resources/js/ace/ace.js" th:href="@{/resources/js/ace.js}"></script>
<script>
	var editor = ace.edit("documentEditor");
	editor.setTheme("ace/theme/dreamweaver");
	editor.getSession().setMode("ace/mode/html");
	editor.getSession().setTabSize(2);
	editor.getSession().setUseSoftTabs(true);
	editor.setHighlightActiveLine(true);

	editor.getSession().on('change', function(e) {
	  $("#documentDraft").attr("value",editor.getValue());
	});
	editor.setValue($("#documentDraft").val());

	$( "#btPublicar" ).click(function() {
		$( "#publicar" ).val(true);
	  $( "#templateFrom" ).submit();
	});
</script>
</html>
