<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>MVP - ViajeAqui</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Novo/Edição Source</h1>
			<form method="post" th:object="${source}"
				th:action="@{/sources/save}" role="form">
				<input type="hidden" name="id" th:value="*{id}" />
				<input type="hidden" name="lastUpdateDatePooling" th:value="*{lastUpdateDatePooling}" />
				<div class="form-group">
					<label for="name">Marca</label>
					<select class="form-control" th:field="*{product.id}">
						<option value="" label="--- Select ---"></option>
						<option th:each="product : ${listProduct}" th:value="${product.id}" th:text="${product.name}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="name">Template</label>
					<select class="form-control" th:field="*{template.id}">
						<option value="" label="--- Select ---"></option>
						<option th:each="template : ${listTemplate}" th:value="${template.id}" th:text="${template.name}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="name">Nome</label>
					<input type="text" class="form-control" th:value="*{name}" th:field="*{name}" placeholder="Nome" />
				</div>
				<div class="form-group">
					<label for="name">Descrição</label>
					<input type="text" class="form-control" th:value="*{description}" th:field="*{description}" placeholder="Descrição" />
				</div>
				<div class="form-group">
					<label for="name">Source</label>
					<input type="text" class="form-control" th:value="*{source}" th:field="*{source}" placeholder="http://editorial.api.abril.com.br/..." />
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox"  th:field="*{active}" th:value="${active}"/>
				    Ativa
				  </label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>