<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Lista Export</h1>
			<p><a href="new" class="btn btn-primary" >Nova Export</a></p>

			<table class="table">
				<th>Name</th>
				<th>Type</th>
				<th>Gerenciamento</th>
				<tr th:each="export : ${listExports}">
					<td th:text="${export.name}"></td>
					<td th:text="${export.type}"></td>
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/exports/__${export.id}__/push}">Push</a>&nbsp;
					  <a class="btn btn-primary btn-xs" th:href="@{/exports/__${export.id}__/edit}">Editar</a>&nbsp;
					  <a class="btn btn-danger btn-xs" th:href="@{/exports/__${export.id}__/delete}">Deletar</a>
					</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->

</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>
