<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Marca - <b th:text="${product.name}"></b></h1>
			<form method="post" enctype="multipart/form-data" th:action="@{/marcas/__${product.id}__/upload}">

				<p>Upload de arquivo: <input type="file" name="file" id="file" class="filestyle"  data-buttonName="btn-primary"  data-buttonText="Escolher arquivo"/></p>
					<th:block th:if="${feraErrors}">
						<th:block th:if="${feraErrors.is('file.empty')}">
				 	 		<div  class="alert alert-danger" role="alert" th:text="${feraErrors.get('file.empty')}">ERROR</div>
				 	 	</th:block>
				 	 	<th:block th:if="${feraErrors.is('file.not.valide')}">
				 	 		<div  class="alert alert-danger" role="alert" th:text="${feraErrors.get('file.not.valide')}">ERROR</div>
				 	 	</th:block>
				 	 	<th:block th:if="${feraErrors.is('global.inesperado')}">
				 	 		<div  class="alert alert-danger" role="alert" th:text="${feraErrors.get('global.inesperado')}">ERROR</div>
				 	 	</th:block>
				  </th:block>
				<input type="submit"  class="btn btn-primary" value="Upload"/>
			</form>
		</div>
			<div style="margin-top: 10px;">
				<th:block th:if="${feraErrors}">
					<th:block th:if="${feraErrors.is('file.not.delete')}">
			 	 		<div  class="alert alert-danger" role="alert" th:text="${feraErrors.get('file.not.delete')}">ERROR</div>
			 	 	</th:block>
			  </th:block>
				<table class="table  table-bordered  table-hover table-striped">
					<tr class="success">
						<th>Tipo Arquivo</th>
						<th>Nome</th>
						<th>Excluir</th>
					</tr>
					<tr th:each="upload : ${product.uploads}">
						<td th:text="${upload.type}"></td>
						<td th:text="${upload.name}"></td>
					<td>
					  <a class="btn btn-danger btn-xs" th:href="@{/marcas/__${product.id}__/upload/__${upload.id}__/delete}">Excluir</a>
					</td>
					</tr>
				</table>
			</div>
	</div>
	<!-- /.container -->

</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>
