<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>Mamute - MVP</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Marca - <b th:text="${product.name}"></b></h1>
			<form method="post" enctype="multipart/form-data"
				th:action="@{/marcas/upload/__${product.id}__/save}">
				<p>Upload de arquivo: <input type="file" name="file" id="file" class="filestyle"  data-buttonName="btn-primary"  data-buttonText="Escolher arquivo"/></p>
				<input type="submit"  class="btn btn-primary" value="Upload"/>
			</form>
		</div>

	</div>
	<!-- /.container -->

</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>
