<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>Abril ID</title>
</head>
<body role="document">
	<th:block th:include="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main" style="margin-top: 60px;">
		<h3>F.E.R.A. (Front End Rendering Application)</h3>
		<p>
			<b>FERA</b> é um gerenciador de publicações estáticas. Gerencia paginas templatizadas com dados fixos, dinamicos e fontes de dados externa.
		</p>
		<p>O resultado são arquivos estáticos, leves a um custo baixo podendo exportar esses documentos gerados para qualquer serviço que hhtp.</p>
		<hr />

		<div class="row margin-bottom-30">
			<div class="col-md-4">
				<div class="service">
					<div class="text-center">
						<b class="fontawesome-leaf" style="font-size: 100px;"></b>
					</div>
					<div class="desc">
						<h4 class="text-center">Clean Design and Code</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="text-center">
					<b class="entypo-monitor" style="font-size: 100px;"></b>
					</div>
					<div class="desc">
						<h4 class="text-center">Very Flexible</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="text-center">
					<b class="entypo-flow-tree" style="font-size: 100px;"></b>
					</div>
					<div class="desc">
						<h4 class="text-center">Latest Technologies</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>
