<!DOCTYPE html>
<html>
<head th:replace="fragments/layout:: head">
<title>FERA - BETA</title>
</head>
<body>
	<th:block th:replace="fragments/layout:: menu" />
	<div class="container corpo-conteudo" role="main">
		<div class="starter-template">
			<h1>Admin Marcas</h1>
			<p><a href="new" class="btn btn-primary" >Nova marca</a></p>

			<table class="table">
				<th>Name</th>
				<th>Lista Upload</th>
				<th>Gerenciamento</th>
				<tr th:each="app : ${listProducts}">
					<td th:text="${app.name}"></td>
					<td><a th:href="@{/marcas/__${app.id}__/upload}">upload</a></td>
					<td>
					  <a class="btn btn-primary btn-xs" th:href="@{/marcas/__${app.id}__/admin/edit}">Editar</a>&nbsp;
					  <a class="btn btn-danger btn-xs" th:href="@{/marcas/__${app.id}__/admin/delete}">Deletar</a>
					</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->

</body>
<th:block th:replace="fragments/layout:: footer-javascript " />
</html>
